[Match]
Name=eth0
Type=ether

[Network]
Description=WAN-Ethernet-Port

DHCP=ipv6
IPv6AcceptRA=yes
IPForward=yes

VLAN=Office
VLAN=WLAN

[Address]
Address=192.168.178.254
Gateway=192.168.178.1

[Route]
Gateway=192.168.178.1

[DHCPv6]
PrefixDelegationHint=::/62
UseDelegatedPrefix=yes
UseAddress=no
