[Match]
Name=Office
Type=vlan

[Network]
Description=Office VLAN interface
DHCP=ipv6
IPForward=yes
IPv6SendRA=yes
IPv6AcceptRA=no
DHCPPrefixDelegation=yes

[Address]
Address=172.16.10.1/24

[DHCPPrefixDelegation]
ULA=true
SubnetId=0x0
Token=::1
