[Match]
Name=Office
Type=vlan

[Network]
Description=Office VLAN Interface
DHCP=ipv6
IPForward=yes
IPv6SendRA=yes
IPv6AcceptRA=no
DHCPPrefixDelegation=yes

[Address]
Address=172.16.10.1/24

[IPv6PrefixDelegation]
ULA=true
SubnetId=0x1
